Project_DeepFake_Voice_Clone/Scripts/Sett_CL.wav
Project_Hall_of_Pole_ETL/V2_Scraper_Functions/SQl_Database/V2/SQL_Base_Script.ipynb
Project_Hall_of_Pole_ETL/Version Didi/SQl_Database/V2/SQL_Base_Script.ipynb
Project_Hall_of_Pole_ETL/myenv