Project_DeepFake_Voice_Clone/Scripts/Sett_CL.wav
Project_Hall_of_Pole_ETL/V2_Scraper_Functions/SQl_Database/V2/SQL_Base_Script.ipynb
Project_Hall_of_Pole_ETL/Version Didi/SQl_Database/V2/SQL_Base_Script.ipynb
Project_Hall_of_Pole_ETL/myenv
Project_Hall_of_Pole_ETL/2_Scraper/Version Didi/Scripts/1/ColumnExplo
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/1_PoleStudio_Overview_Didi_2023-05-03_19-32.csv
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/1_Workshop_Overview_Didi_e_2023-05-03_19-32.csv
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/1_Workshops_List_Didi_Ws_2023-05-03_19-32.csv
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/ColumnTransformer.ipynb
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/Events.csv
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/Online-Kurse.csv
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/Pole Studios.csv
Project_Hall_of_Pole_ETL/2_Scraper/V2_Scraper_Functions/ColumnExplo/Pole Studios.xlsx
